@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bree+Serif&family=Coiny&family=Kanit:ital,wght@0,400;1,200&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Phudu:wght@800&family=Roboto+Mono:ital,wght@0,200;1,500&family=Roboto:wght@100&family=Rubik+Iso&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Coiny&family=Kanit:ital,wght@0,400;1,200&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Nunito+Sans:opsz,wght@6..12,500&family=Phudu:wght@800&family=Roboto+Mono:ital,wght@0,200;1,500&family=Roboto:wght@100&family=Rubik+Iso&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Coiny&family=Kanit:ital,wght@0,400;1,200&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Nunito+Sans:opsz,wght@6..12,500&family=Phudu:wght@800&family=Poppins&family=Roboto+Mono:ital,wght@0,200;1,500&family=Roboto:wght@100&family=Rubik+Iso&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Coiny&family=Kanit:ital,wght@0,400;1,200&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Phudu:wght@800&family=Poppins&family=Roboto+Mono:ital,wght@0,200;1,500&family=Roboto:wght@100&family=Rubik+Iso&display=swap');
  
.bi{
    margin-left: 50px;
}

input[type = text]{
    width: 680px;
    border: 1px solid #004ebb;  
}

input[type = text]:focus{
    border: 3px solid #004ebb;
    outline: #004ebb;

      
      
  } 

*{
    list-style-type: none;
    text-decoration: none;
}

ul>li{
    margin-left: 40px;
}

ul > li:nth-of-type(1):hover ~.dxl {
  display: block;
  /* visibility: visible; */
}



.dxl{
  position: absolute;
  top: 26%;
  left: 0%;
  z-index: 20;
  background-color: white;
  display: none;
  /* visibility: hidden; */
  width: 200px;
  transition: display 10s ; 
}
  
.dx1.active{
  display: block;
}

.sp{
  background-color: #004ebb;
}

.stt{
  background-image: url('./Image/Site\ 1.bmp');
  height: 52vh;
  background-repeat: no-repeat;
  background-size: contain;
    
<<<<<<< HEAD
}
=======
  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bree+Serif&family=Coiny&family=Kanit:ital,wght@0,400;1,200&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Phudu:wght@800&family=Roboto+Mono:ital,wght@0,200;1,500&family=Roboto:wght@100&family=Rubik+Iso&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Coiny&family=Kanit:ital,wght@0,400;1,200&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Nunito+Sans:opsz,wght@6..12,500&family=Phudu:wght@800&family=Roboto+Mono:ital,wght@0,200;1,500&family=Roboto:wght@100&family=Rubik+Iso&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Coiny&family=Kanit:ital,wght@0,400;1,200&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Nunito+Sans:opsz,wght@6..12,500&family=Phudu:wght@800&family=Poppins&family=Roboto+Mono:ital,wght@0,200;1,500&family=Roboto:wght@100&family=Rubik+Iso&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Coiny&family=Kanit:ital,wght@0,400;1,200&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Phudu:wght@800&family=Poppins&family=Roboto+Mono:ital,wght@0,200;1,500&family=Roboto:wght@100&family=Rubik+Iso&display=swap');
    
    .bi{
        margin-left: 50px;
    }

    input[type = text]{
        width: 680px;
        border: 1px solid #004ebb;  
    }

    input[type = text]:focus{
        border: 3px solid #004ebb;
        outline: #004ebb;  
    } 

    #one{
        margin-left: -2px;
    }

    *{
        list-style-type: none;
        text-decoration: none;
    }
   
    ul>li{
        margin-left: 40px;
    }

    ul > li:nth-of-type(1):hover ~.dxl {
        display: block;
    }

     .dxl{
    position: absolute;
    top: 26%;
    left: 0%;
    z-index: 20;
    background-color: white;
    display: none;
    width: 200px;
    transition: display 0.1s ; 
   }
   /* .dxl:nth-child(1):hover ~ .dmx{
    display: block;
    position: absolute;
    top: 5%;
    z-index: 20;
   } */


    .sp{
        background-color: #004ebb;
    }

    .stt{
        background-image: url('./Image/Site\ 1.bmp');
        height: 52vh;
        background-repeat: no-repeat;
        background-size: contain;
       
    }
>>>>>>> 3d1273f0d3fca576dafb8c576751e2b5c2c5ed3c

    .rtt{
        position: absolute;
        top: 45%;
        left: 10%;
        font-family: Bree serif;
        font-size: 20px;
        margin-left: 70px;
    }

    .img1{
        position: absolute;
        top: 20%;
        width: 45vw;
        left: 5%;
    }

    .stt > a{
        position: absolute;
        top: 66%;
        left: 20%;
    }
    .lc{
        font-family: Nunito Sans;
        font-size: 20px;
        background-color: #004ebb;
    }
    div:nth-of-type(1){
        font-family: Nunito Sans;
    }

    .hd > img:nth-of-type(1){
        position: absolute;
        z-index: 3;
    }
    
    .hd{
        height: 900px;
    }
    .hd > img:nth-of-type(2){
        position: absolute;
        height: 90vh;
        bottom: 10%;
        z-index: 2;
    }

    .hd > img:nth-of-type(3){
        position: absolute;
        top: 40%;
        left: 39%;
        z-index: 10;
    }


    .llc{
        position: absolute;
        z-index: 10;
        top: 30%;
        left: 43%;
       
    }

  
    
    
/*
|||||||||||||||||||||||||||||||||||||||||||||||||| 
    Responsiveness For the top part 
||||||||||||||||||||||||||||||||||||||||||||||||||
*/
@media (min-width:1093px) and (max-width:1323px) {
    .lc > span:nth-of-type(4), span:nth-of-type(2),
    span:nth-of-type(3){
        display: none;
    }
    .lc > span:nth-of-type(1){
        margin-left: 40px;
    }

    .stt{
        height: 300px;
    }
    input[type = text]{
        width: 400px;
    }
    /* .lc{
        background-color: coral;
    } */
}
   


@media screen and (max-width:573px){
        .lc > span:nth-of-type(5), span:nth-of-type(2),
        span:nth-of-type(3), span:nth-of-type(4){
            display: none;
        }

        .stt{
            background-size:initial;
            
        }

    ul{
        position: absolute;
        top: 6%;
        left: 2%;
        border: 2px solid grey;
        background-color: white;
        border-radius: 15px;
    }
       .lc > span:nth-of-type(5){
        margin-left: -70px;
       }

       .menu-bar{
        position: absolute;
        top: 0%;
        left: -7%;
       }

       ul>li{
        margin-left: -2%;
        padding: 6px;
    }

    ul{
        display: none;
    }

    input[type = checkbox]:checked ~ ul{
        display:block;
    }
    }

    .hd > img:nth-of-type(2){
        position: absolute;
        height: 90vh;
        bottom: 32%;
        
    }

    .llc{
        position: absolute;
        
        top: 15%;
        left: 20%;
       
    }

    
    

/* 
|||||||||||||||||||||||||||||||||||||||||||||||||||
    End of responsiveness 
|||||||||||||||||||||||||||||||||||||||||||||||||||
    */
    
/* section two starts here */
.edit{
  height: 180px;
  width: 180px;
}

.slide-container{
  position: relative;
}

.left{
  position: absolute;
  top: 30%;
  left: 50px;
  height: 50px;
  width: 50px;
  background-color: lightgray;
  cursor: pointer;
}

.right{
  position: absolute;
  top: 30%;
  right: 60px;
  height: 50px;
  width: 50px;
  background-color: lightgray;
  cursor: pointer;
}

.slide-one-container{
  display: flex;
  gap: 30px;
  overflow: hidden;
  width: 78%;
  align-items: center;
  margin-left: 150px;
  /* scroll-behavior: smooth; */
}

.fluid{
  height: 50vh;
}